* {
    padding:0;
    margin:auto;
    box-sizing: border-box;
}

h1 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.container {
    display: flex;
    flex-flow: column;
}