* {
    padding:0;
    margin:auto;
    box-sizing: border-box;
}

h1 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  padding: 2rem;
  color: white;
}


.container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: fit-content;
    margin: 0;
    padding: 2rem;
}

.containertower{
  display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: fit-content;
    margin: 0;
    padding: 2rem;
}


body{
background-color: rgb(127, 111, 111);
    margin-bottom: 10rem;
}